<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}

    <meta charset="UTF-8">
    <title>CTS API Documentation</title>

    <link rel="stylesheet" type="text/css" href='{% static "cts_api/swagger-ui/dist/swagger-ui.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "cts_api/swagger-ui/dist/index.css" %}' />
    <link rel="icon" type="image/png" href='{% static "cts_api/swagger-ui/dist/favicon-32x32.png" %}' sizes="32x32" />
    <link rel="icon" type="image/png" href='{% static "cts_api/swagger-ui/dist/favicon-16x16.png" %}' sizes="16x16" />

    <script>
      window.onload = function() {
        //<editor-fold desc="Changeable Configuration Block">

        console.log("swagger_index.html onload called.")

        var url = window.location.search.match(/url=([^&]+)/);
        if (url && url.length > 1) {
          url = decodeURIComponent(url[1]);
        } else {
          url = "/cts/rest/swag";
          // url = "/rest/cts/swag";
        }

        // the following lines will be replaced by docker/configurator, when it runs in a docker-container
        window.ui = SwaggerUIBundle({
          url: url,
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIStandalonePreset
          ],
          plugins: [
            SwaggerUIBundle.plugins.DownloadUrl
          ],
          layout: "StandaloneLayout"
        });

        //</editor-fold>
      };
    </script>

  </head>

  <body>
    <div id="swagger-ui"></div>
    <script src='{% static "cts_api/swagger-ui/dist/swagger-ui-bundle.js" %}' charset="UTF-8"></script>
    <script src='{% static "cts_api/swagger-ui/dist/swagger-ui-standalone-preset.js" %}' charset="UTF-8"></script>
    <!-- <script src='{% static "cts_api/swagger-ui/dist/swagger-initializer.js" %}'charset="UTF-8"></script> -->
  </body>
</html>
